/Lanche.class
/area.class
/area_do_circulo.class
/calculo_simples.class
/cedulas.class
/consumo.class
/conversao_de_tempo.class
/coordenadasDeUmPonto.class
/distancia.class
/distancia_entre_dois_pontos.class
/esfera.class
/extremamente_basico.class
/formula_de_bhaskara.class
/gasto_de_combustivel.class
/hello_world.class
/idade_em_dias.class
/intervalo.class
/media3.class
/media_2.class
/multiplos.class
/notas_e_moedas.class
/o_maior.class
/salario.class
/salario_com_bonus.class
/soma_simples.class
/sort_simples.class
/teste_de_selecao_1.class
/triangulo.class
/positivo_e_media.class
/pares_entre_cinco_numeros.class
/pares_entre_cinco_numeros2.class
/pares_impares_positivos_e_negativos.class
/numero_impares.class
/seis_numeros_impares.class

.class
